@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}

<p>Check out my podcasts! Here's a link to my podcast website <a href="https://baconsale.com/">Baconsale</a></p>